/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 15px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero img {
  width: 200px;
  border-radius: 50%;
}

/* BUTTON */
.btn {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.primary {
  background: #38bdf8;
  color: black;
}

.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SECTION */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
}

/* SKILLS */
.skills-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* ANIMATION */
.section, .card, .hero-left, .hero-right {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* MOBILE */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #020617;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }

  nav ul.active {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
